# Xcode / Swift
.build/
.swiftpm/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
xcuserdata/
DerivedData/
.derivedData/
build/
.cache/

# OS
.DS_Store
.Trash/

# Environment / Local Secrets
.env
.env.local
