<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/ClickSplit.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.clickplatforms.split</string>
		<key>SigningIdentity</key>
		<string>Apple Development: Kairui Cheng (XVZQ64VDQC)</string>
		<key>Team</key>
		<string>W4C3V9Z2N4</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2026-09-22T05:35:06Z</date>
	<key>Name</key>
	<string>ClickSplit</string>
	<key>SchemeName</key>
	<string>ClickSplit</string>
</dict>
</plist>
